.container {
    max-width: 78%;
    margin: 0 auto;
    padding: 0;
}

.logo-wrapper,
.header-navbar {
    display: inline-block;
    padding: 1.25em 0em;
}

.header-navbar {
    float: right;
}

.header-navbar ul li {
    display: inline-block;
}

.about-header {
    float: left;
}

.left-navbar {
    float: right;
}


/* body */

.project-slideshow-container,
.slideshow2-container,
.read-more-container {
    margin: 1.5625px 0em;
}

.project-slider {
    width: 100%;
    position: relative;
}

.prev,
.col-left {
    float: left;
}

.next,
.col-right {
    float: right;
}

.right-bottom ul li {
    display: inline-block;
}

 .block {
    position: relative;
    display: inline-block;
    width: 260px;
    margin-right: 29px;
    max-width: 16.25em;
    margin-right: 1.8125em; }


.block:last-child {
    margin-right: 0em;
} */


/* -----------------FOOTER--------------------- */

.footer-block {
    display: inline-block;
    padding: 1.375em 0pem;
}

.footer-blog {
    float: right;
    padding: 1.375em 0;
    padding-left: 1.375em 0em ;
}

.blog-holder {
    display: inline-block;
    padding-top: 1.4375em;
    margin: 0 auto;
    
}

.left {
    float: left;
    padding: 1.25em 0;
}

.right {
    float: right;
    padding: 1.25em 0;
}
.footer-col-middle{
    padding-top: 20px;
}
.footer-blog{
    padding-left: 120px;
    padding-top:20px
}