header{
    background-image: url("../images/bgimage.png");
    background-repeat: repeat-x;
    width:1400px;
}
.container{
    max-width: 986px;
    margin: 0 auto;
}
.header-container{
    width:986px;
    height: 190px;
    
}
.top-header{
    /* height:66px; */
    /* width:986px; */
    padding:25px 0px;
    
}
.logo-wrapper{
    float:left;
    padding-right:30px;
    /* padding-left: 30px;  */
}
/* .left-col{
    margin:
} */

.right-col, li{
      list-style: none;
      margin:-30px;
    }

.bottom-header{
    margin: 0 auto;
    padding:25px;
    font-family: "SourceSansPro";
    color: rgb(51, 51, 51);
    line-height: 0.653;

}
/* .background{
    height:500px;
    width:1400px;
} */
.main-bg{
    height:500px;
    width:1400px; 
    background-image: url("../images/bgimage1.png");
}
.line{
    background-image: url("../images/dotted-line.png");
    background-repeat: repeat-x;
    left: 0px;
    margin: auto;
    height: 8px;
 
}